*{
    font-family: font-family: 'Roboto', sans-serif;
}


/*
COLLOR PALLETE
    
#e7717d - ligh salmon
#c2cado - live gray
#c2b9b0 - ligth brown
#7e685a - strong brown
#afg275 - ligth green

*/
body{
    background:#c2cad0;
}

.navbar{
    margin-bottom: 30px;
}

.navbar-brand{
    color: white !important; 
}

.navbar-color{
    background: #e7717d;
    color: white;
}

.bolder{
    font-weight: bolder;
}

li{
    list-style-type: none;
}

li{
    margin-top: 13px;
}

.menuOpcao{
    padding:25px;
    background: #7e685a;
}

.titulo{
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    font-weight: bolder;
    font-weight: bolder;
}

.top-buffer { 
    margin-top:40px !important;
}

.option{
    margin-top: 10px !important;
    padding:10px;
}

select{
    padding:10px;
}

.form-control{
    padding:20px;
}

.btn{
    background-color: #a0d34c !important;
}

input{
    padding: 10px !important;
}

.form-group{
    border: 0 !important;
}

